# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
API-For-TCG-Card-Shop-Simulator/bin
BepInEx PreLoad Patch for TCG Card Shop Simulator/Bepinex Preload Patch/bin
API-For-TCG-Card-Shop-Simulator/.vs
API-For-TCG-Card-Shop-Simulator/obj
BepInEx PreLoad Patch for TCG Card Shop Simulator/.vs
BepInEx PreLoad Patch for TCG Card Shop Simulator/Bepinex Preload Patch/obj